.month{
    height: 3.5rem;
    width: 100%;
    color: white;
    background-color: #3c6382;
}
.shadecolor{
opacity: .3;
}
.day p{
    width: 14.28%;
    text-align: center;
    background-color: #3c6382;
    height: 1.2rem;
    opacity: .8;
}
.date .radiodates{
    width: 14.28%;
    text-align: center;
    color: white;
    background-color: #3c6382;
    height: 2rem;
    cursor: pointer;
    margin: 0;
}
.radio-btn{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    padding-top: .3rem;
}
.radiodates input{
    display: none;
}
.radiodates input:checked + .radio-btn{
    background-color: #ee4c7c !important;
    color: white !important;
}
.prev , .next{
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    margin: .5rem;
}
.prev , .next{
background-color: rgba(0, 0, 0, 0.5);
}

.btn{
    margin: .5rem !important;
    width: 100px !important;
}
.btn:hover{
    color:white !important;
    background-color: #ee4c7c !important;
}
.time{
    height: 3.2rem;
    margin-top: .5rem;
    background-color: white;
    overflow-x: scroll;
}
.timeDis input{
    display: none;
}
.time .timeDis{
    margin: .35rem !important;
    margin-bottom: 0 !important;
    background-color: white !important;
    color: #ee4c7c !important;
}
.time .timeDisplay{
    width: 83px !important;
    position: relative;
    display: inline-block;
    padding: .5rem;
    border-radius: 5px;
    border:1px solid #ee4c7c;
    text-align: center;
}
.time input:checked + .timeDisplay{
    background-color: #ee4c7c;
    color:white;
}
.btn{
    height: 35px !important;
    color: #ee4c7c;
    border: #ee4c7c !important;
    background-color: white !important;
    border: 1px solid #ee4c7c !important;
}

.heading{
    height: 3rem;
}
.heading h6,p{
    margin: 0;

}
.heading p{
    text-align: end;
    font-weight: bold;
}

.heading h6{
    text-align: start;
    font-weight: 600;
}
.services-list{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.services-list h6{
    text-align: start;
    font-weight: 600;
}
.services-list .container{
    border-radius: 100%;
    background-color: white;
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin-right: 0.8rem;
}
.servicesAdded .list{
    height: 3.5rem;
    border:1.5px solid #e3e2df;
    background-color: white;    
}
.servicesAdded .list p,i{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.button a{
    background-color:#ee4c7c !important;
    color: white;
    font-size: 1.3rem;
    height: 100% !important;
    margin: 0 !important;
    padding: .5rem;
    font-weight: 600;
}
.button{
    margin-top: .5rem;
}
.pink{
    color: #ee4c7c !important;
    font-weight: bolder;
}
.bookingnav{
    color: #ee4c7c !important;
    transform: scale(1.2);
}



