.month{
    height: 3.5rem;
    width: 100%;
    color: white;
    background-color: #636e72;
}
.day p{
    width: 14.28%;
    text-align: center;
    color: #b2bec3;
    background-color: #636e72;
    height: 2rem;
}
.date p{
    width: 14.28%;
    text-align: center;
    color: white;
    background-color: #636e72;
    height: 2rem;
}
.date p:hover{
    background-color: #ee4c7c;
}

.time .slick-center{
    background-color: #ee4c7c !important;
    color: white !important;
    border: #ee4c7c !important;
}
.time .slick-track{
    height: 100%;
}

.time{
    height: 4rem;
    margin-top: .5rem;
    background-color: white;
}
.btn{
    height: 35px !important;
    color: #ee4c7c;
    border: #ee4c7c !important;
    background-color: white !important;
    border: 1px solid #ee4c7c !important;
    margin-top: .8rem !important;
}

.heading{
    height: 3rem;
}
.heading h6,p{
    margin: 0;

}
.heading p{
    text-align: end;
    font-weight: bold;
}

.heading h6{
    text-align: start;
    font-weight: 600;
}
.services-list{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.services-list h6{
    text-align: start;
    font-weight: 600;
}
.services-list .container{
    border-radius: 100%;
    background-color: white;
    height: 3rem;
    width: 3rem;
    padding: 0;
    margin-right: 0.8rem;
}
.servicesAdded .list{
    height: 4rem;
    border:1.5px solid #e3e2df;
    background-color: white;    
}
.servicesAdded .list p,i{
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
}
.button a{
    background-color:#ee4c7c !important;
    color: white;
    font-size: 1.3rem;
    height: 100% !important;
    margin: 0 !important;
    padding: .5rem;
    font-weight: 600;
}
.button{
    margin-top: .5rem;
}



