.col-9, .col-3, .col-4, .col-6{
    padding: 0;
}
.col-3{
    text-align: center;
    z-index: 0;
}
h5, p, h6, label{
    margin: 0;
}
.col-9{
    left: 1.2rem;
}
.servicesList{
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: white;
    z-index: 10;
    border: 1px solid black;
}
input{
    display: none;
}
.list{
    padding: .5rem;
}
.services input:checked + .extra{
    background-color: #ee4c7c;
    color:white
}

.btn{
    height: 2rem !important;
    font-size: 1.1rem;
    font-weight: 800;
    margin-right: .5rem !important;
}
.input__checkbox{
    position: relative;
    display: inline-block;
    border: 1px solid black;
    height: 18px;
    width: 18px;
    top: .2rem;
    border-radius: 5px;
    background-color: white;
}
.servicesList .col-12{
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid black;
    background-color: #ee4c7c;
    color: white;
}

.cleanup input:checked + .input__checkbox::after{
    content: '\2714';
    position: absolute;
    font-size: 4vw;
    top: -.2rem;
    left: .1rem;
    color: #ee4c7c;
}