.col-9, .col-3, .col-4{
    padding: 0;
}
.col-3{
    text-align: center;
    z-index: 0;
}
h5, p, h6, label{
    margin: 0;
}
.col-9{
    left: 1.2rem;
}
.servicesList{
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: white;
    z-index: 10;
    border: 1px solid black;
}
input{
    display: none;
}
.list{
    padding: .5rem;
}
.services input:checked + .extra{
    background-color: #ee4c7c;
    color:white
}
.btn{
    height: 2rem !important;
    font-size: 1.1rem;
    font-weight: 800;
    margin-right: .5rem !important;
}