
.carousel,.carousel-item img{ 
    height:15rem;
}
.carousel-caption{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    width: 27rem;
    margin-left: -4rem;
    margin-right: 3rem;
    padding: 1.3rem;
    margin-bottom: 2rem;
}
@media (max-width : 375px){
    .carousel-caption{
        width: 25rem;
    }
}
.carousel-caption p{
    margin: 0;
}
.list{
    height: 5rem;
}
.row{
    margin: 0;
}
.header{
    margin: .8rem;
    display: flex;
    justify-content: space-between;
}
.shadow{
    background-color: white;
    padding: 0;
    margin-left:1rem;
    margin-right: 1rem;
}
.shadow p:nth-of-type(1){
    margin: auto 0.3rem;

}

.shadow p:nth-of-type(2){
    margin-bottom: 0;
    padding: 0rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}


#author{
    font-size: .8rem;
    opacity: 0.5;
}
.review{
    font-size: .9rem;
}
.lastrow .shadow{
    background-color: white;
    padding: .5rem;
    color: black;
    font-weight: 500;
}

.tips{
    height: 10rem;
    margin-bottom: 1.2rem;
    text-align: start;
    line-height: 1rem;
}
.tips p{
    padding-left: .3rem;
}
.count h5{
    text-align: center;
    margin: 1.3rem;
    width: 100%;
    margin-bottom: .3rem;
    font-family: 'Satisfy', cursive;
    color: #5d001e;
}
