*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e3e2df;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
}
h5{
    font-weight: 600;
}
.btn{
    height: 1.5rem;
    font-size: 0.9rem;
    margin: 0.3rem !important;
    padding: 0 .3rem;
}
.crown{
position: relative;
}

.fa-crown{
    position: absolute;
    color: gold;
    right: 3rem;
    bottom: 1.67rem;
    transform: rotate(-20deg);
}