*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 0;
    overflow-x: hidden;
}
body{
    background-color: #e3e2df;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9rem;
}
h5{
    font-weight: 600;
}
.btn{
    height: 1.5rem;
    font-size: 0.9rem;
    margin: 0.3rem !important;
    padding: 0 .3rem;
    background-color: #ee4c7c;
    color: white;
}

.row{
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
    transition:0s 1s;
}

a:active{
    text-decoration: none;
    color: #ee4c7c !important;
    transition:1s;  
}

a:link{
    text-decoration: none;
    color: black; 
}
a:visited{
    text-decoration: none;
    color: black; 
}

.lastrow{
    margin-bottom: 6rem !important;
}

.fa-crown{
    color: gold;
}