.list{
    border-radius: 100%;
    background-color: white;
    width: 70px;
    height: 70px;
}
.list img{
    height: 75%;
    width: 80%;
    margin-top: .4rem;
    margin-left: .5rem;
}
.moreList .col-5{
    background-color: white;
    padding: .5rem;
    margin: .5rem;
}
.moreList .col-5 p{
    margin-top: 0.5rem !important;
    margin-bottom: .7rem !important;
    font-size: 1rem;
}
.aboutus{
    background-color: ghostwhite;
}
.offers{
    background-color:#55efc4;
}
.booked{
    background-color: #74b9ff;
}
.user{
    background-color: #d63031;
}
.insta{
    background-color: #e84393;
}
.gallery{
    background-color: #fdcb6e;
}
.review{
    background-color: #a29bfe;
}
.logout{
    background-color: #636e72;
}
.offers img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.booked img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.user img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.insta img{
    height: 50%;
    width: 50%;
    margin-top:1rem;
    margin-left:1.1rem;
}
.gallery img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.review img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.logout img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
p{
    font-weight: 600;
}
.morenav{
    color: #e84393 !important;
    transform: scale(1.2);
}
