.list{
    border-radius: 100%;
    background-color: white;
    width: 70px;
    height: 70px;
}
.list img{
    height: 75%;
    width: 80%;
    margin-top: .4rem;
    margin-left: .5rem;
}
.moreList .col-5{
    background-color: white;
    padding: .5rem;
    margin: .5rem;
}
.moreList .col-5 p{
    margin-top: 0.5rem !important;
    margin-bottom: .7rem !important;
    font-size: 1rem;
}
.offers{
    background-color: chartreuse;
}
.booked{
    background-color: blue;
}
.user{
    background-color: red;
}
.insta{
    background-color: pink;
}
.gallery{
    background-color: orange;
}
.offers img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.booked img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.user img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
.insta img{
    height: 50%;
    width: 50%;
    margin-top:1rem;
    margin-left:1.1rem;
}
.gallery img{
    height: 50%;
    width: 50%;
    margin-top: 1rem;
    margin-left: 1.1rem;
}
p{
    font-weight: 600;
}
