.services{
    padding: 0;
    margin:.7rem;
}

.services p{
    margin: auto 0.3rem;
    text-align: center;
    height: 1.8rem;
}
.nametag{
    background-color: white;
    color: black;
}
.lead{
    margin: 0;
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Satisfy', cursive;
    color: black;
    text-align: center;
}