.services{
    padding: 0;
    margin:.7rem;
}
.servicesList{
    margin: 0rem;
}
.services p{
    margin: auto 0.3rem;
    text-align: center;
    height: 1.8rem;
}
.nametag{
    background-color: white;
    color: #ee4c7c;
}