.services{
    padding: 0;
    margin:.7rem;
}

.services p{
    margin: auto 0.3rem;
    text-align: center;
    height: 1.8rem;
}
.nametag{
    background-color: white;
    color: black;
}
.servicesnav{
    color: #e84393 !important;
    transform: scale(1.2);
}
.mx-2{
    margin-left: 3.8vw !important;
    margin-right: 3.8vw !important;
}

.servicesList{
    padding: .5rem;
}

.servicesList a{
    border: 1px solid black;
}
