<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Anti Tan</h5>
</div>

<div class="list">
    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face with Neck<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.400</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hand's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.500</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Underarm's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.200</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Full Leg's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.800</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Half Leg's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.500</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Quatar Leg's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.600</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Feet<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.200</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Back Half<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.400</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra7" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra7">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra7">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Back Full<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.800</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra8" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra8">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra8">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Full Body<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.2000</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra9" checked>
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Normal</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra9">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Oxy(ozone)</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra9">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-3 pr-3 text-center">Gold Daimond</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
