<%- include("../partials/header") %>
<%- include("../main/pageHeader") %>

<link rel="stylesheet" href="/stylesheets/booking.css">
<script src="/javascripts/booking.js"></script>


<div class="d-flex flex-row align-items-center heading">
    <div class="col-6">
        <h6>Choose Date & Time</h6>
    </div>
    <div class="col-6">
        <p><span>< </span>August 2020<span> ></span></p>
    </div>
</div>
<div class="d-flex flex-row date">
    <div class="col-2">
        <p>1</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>2</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>3</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>4</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>5</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>6</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>7</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>8</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>9</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>9</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>10</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>11</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>12</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>13</p>
        <p>MON</p>

    </div>
</div>
<div class="d-flex flex-row time">
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
</div>

<%- include("../partials/footer") %>
