<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/booked.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/more"><i class="fas fa-arrow-left"></i></a>
    <h5>Appointments</h5>
</div>

<div class="list" style="padding: .5rem">
    <div class="row rounded" style="margin-top:.5rem;margin-bottom:.5rem;">
        <div class="d-flex flex-row justify-content-start align-items-center" style="width: 100%;">
            <div class="row ml-4">
                <h6 style="font-weight: bolder;">22 Sep 2020</h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start" style="width: 100%;">
            <div class="col-12">
                <ul style="list-style-type: none;">
                    <li><span class="pink">Services</span> : body wash + shampoo Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li><span class="pink">To Pay</span> : Rs.1200</li>
                    <li><span class="pink">Status</span> : <span class="text-warning status">Upcoming</span></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center rounded-bottom button" style="width: 100%;background-color: #ee4c7c;">
            <div class="row" style="background-color: #ee4c7c;">
                <p style=" color: white;font-weight: 500;">Cancel Appointment</p>
            </div>
        </div>
    </div>
    <div class="row rounded" style="margin-top:.5rem;margin-bottom:.5rem;">
        <div class="d-flex flex-row justify-content-start align-items-center" style="width: 100%;">
            <div class="row ml-4">
                <h6 style="font-weight: bolder;">22 Sep 2020</h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start" style="width: 100%;">
            <div class="col-12">
                <ul style="list-style-type: none;">
                    <li><span class="pink">Services</span> : body wash + shampoo Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li><span class="pink">To Pay</span> : Rs.1200</li>
                    <li><span class="pink">Status</span> : <span class="text-success status">Finished</span></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center rounded-bottom button" style="width: 100%;background-color: #ee4c7c;">
            <div class="row" style="background-color: #ee4c7c;">
                <p style=" color: white;font-weight: 500;">Cancel Appointment</p>
            </div>
        </div>
    </div>
    <div class="row rounded" style="margin-top:.5rem;margin-bottom:.5rem;">
        <div class="d-flex flex-row justify-content-start align-items-center" style="width: 100%;">
            <div class="row ml-4">
                <h6 style="font-weight: bolder;">22 Sep 2020</h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start" style="width: 100%;">
            <div class="col-12">
                <ul style="list-style-type: none;">
                    <li><span class="pink">Services</span> : body wash + shampoo Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li><span class="pink">To Pay</span> : Rs.1200</li>
                    <li><span class="pink">Status</span> : <span class="text-danger status">Cancelled</span></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center rounded-bottom button" style="width: 100%;background-color: #ee4c7c;">
            <div class="row" style="background-color: #ee4c7c;">
                <p style=" color: white;font-weight: 500;">Cancel Appointment</p>
            </div>
        </div>
    </div>
    <div class="row rounded lastrow" style="margin-top:.5rem;margin-bottom:.5rem;">
        <div class="d-flex flex-row justify-content-start align-items-center" style="width: 100%;">
            <div class="row ml-4">
                <h6 style="font-weight: bolder;">22 Sep 2020</h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start align-items-start" style="width: 100%;">
            <div class="col-12">
                <ul style="list-style-type: none;">
                    <li><span class="pink">Services</span> : body wash + shampoo Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li><span class="pink">To Pay</span> : Rs.1200</li>
                    <li><span class="pink">Status</span> : <span class="text-success status">Finished</span></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center align-items-center rounded-bottom button" style="width: 100%;background-color: #ee4c7c;">
            <div class="row" style="background-color: #ee4c7c;">
                <p style=" color: white;font-weight: 500;">Cancel Appointment</p>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/booked.js"></script>
<%- include("../partials/footer") %>