<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/booking.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <h5>Booking</h5>
</div>
<div class="d-flex flex-row month justify-content-between align-items-center"style="margin-top:.5rem;">
    <div class="prev">
        <i class="fas fa-arrow-left"></i>
    </div>
    <h5><span class="months">August</span>,<span class="year">2020</span></h5>
    <div class="next">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>
<div class="d-flex flex-row day">
    <p>Sun</p><p>Mon</p><p>Tue</p><p>Wed</p><p>Thur</p><p>Fri</p><p>Sat</p>
</div>
<div class="d-flex flex-row date">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
</div>

<div class="d-flex flex-row time">
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
</div>

<div class="d-flex flex-row align-items-center services-list">
    <div class="col-6">
        <h5>Added Services</h5>
    </div>
    <div class="col-6">
        <div class="container d-block">
        <img src="/images/services.svg" alt="" style="width: 65%;margin-top: 0.5rem;margin-left: .6rem;">
        </div>
    </div>
</div>
<div class="d-flex flex-column servicesAdded">
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
</div>
<div class="d-flex flex-row button lastrow align-items-center" style="height: 3rem;">
    <a class="btn" href="#" role="button" style="width: 100%;">Book Now</a>
</div>

<script src="/javascripts/booking.js"></script>
<%- include("../partials/footer") %>
