<%- include("../partials/header") %>
<%- include("../main/pageHeader") %>

<link rel="stylesheet" href="/stylesheets/booking.css">
<script src="/javascripts/booking.js"></script>


<div class="d-flex flex-row align-items-center heading">
    <div class="col-6">
        <h6>Choose Date & Time</h6>
    </div>
    <div class="col-6">
        <p><span>< </span>August 2020<span> ></span></p>
    </div>
</div>
<div class="d-flex flex-row date">
    <div class="col-2">
        <p>1</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>2</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>3</p>
        <p>MON</p>
    </div>
    <div class="col-2">
        <p>4</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>5</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>6</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>7</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>8</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>9</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>9</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>10</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>11</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>12</p>
        <p>MON</p>

    </div>
    <div class="col-2">
        <p>13</p>
        <p>MON</p>

    </div>
</div>
<div class="d-flex flex-row time">
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
    <button type="button" class="btn">Primary</button>
</div>

<div class="d-flex flex-row align-items-center services-list">
    <div class="col-6">
        <h5>Added Services</h5>
    </div>
    <div class="col-6">
        <div class="container d-block">
        <img src="/images/services.svg" alt="" style="width: 65%;margin-top: 0.5rem;margin-left: .6rem;">
        </div>
    </div>
</div>
<div class="d-flex flex-column servicesAdded">
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list lastrow">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
</div>

<%- include("../partials/footer") %>
