<%- include("../partials/header") %>

<link rel="stylesheet" href="/stylesheets/booking.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <h5>Booking</h5>
</div>
<div class="d-flex flex-row month justify-content-between align-items-center"style="margin-top:.5rem;">
    <div class="prev d-flex align-items-center justify-content-center">
        <i class="fas fa-arrow-left" onclick="movePara('prev')"></i>
    </div>
    <h5><span class="months">August</span>,<span class="year">2020</span></h5>
    <div class="next d-flex align-items-center justify-content-center" onclick="movePara('next')">
        <i class="fas fa-arrow-right"></i>
    </div>
</div>
<div class="d-flex flex-row day">
    <p>Sun</p><p>Mon</p><p>Tue</p><p>Wed</p><p>Thur</p><p>Fri</p><p>Sat</p>
</div>
<div class="row date"></div>

<!-- <div class="d-flex flex-row time">
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">9:00 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">9:30 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">10:00 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">10:30 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">11:00 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">11:30 A.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">12:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">12:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">1:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">1:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">2:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">2:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">3:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">3:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">4:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">4:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">5:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">5:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">6:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">6:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">7:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">7:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">8:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">8:30 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">9:00 P.M</span>  
    </label>
    <label class="timeDis">
        <input type="radio" name="radio1" class="btn text-nowrap">
        <span class="timeDisplay">9:30 P.M</span>  
    </label>
</div> -->

<div class="d-flex flex-row align-items-center services-list">
    <div class="col-6">
        <h5 style="margin-top: 0.5rem">Appointment</h5>
    </div>
    <div class="col-6">
        <div class="container d-block">
        <img src="/images/services.svg" alt="" style="width: 65%;margin-top: 0.5rem;margin-left: .6rem;">
        </div>
    </div>
</div>

<div class="d-flex contain rounded lastrow">
    <form>
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="date">Date:</label><br>
        <div class="row">
            <div class="col-5">
                <input type="date" id="date" name="sdate" value="2020-09-22">
            </div>
            <div class="col-2">
                <p style="font-size: 1rem;font-weight: 700;text-align: center;margin-top: .5rem;">TO</p>
            </div>
            <div class="col-5">
                <input type="date" id="date" name="ldate" value="2021-01-06">
            </div>
        </div>
        <label>Timings:</label><br>
        <div class="row">
            <label class="col-4">
                <input type="radio" name="time">
                <p class="timings">Morning<br>9:30-12:00</p>  
            </label>
            <label class="col-4">
                <input type="radio" name="time">
                <p class="timings">Afternoon<br>12:00-3:30</p>  
            </label>
            <label class="col-4">
                <input type="radio" name="time">
                <p class="timings">Evening<br>3:30-7:30</p>  
            </label>
        </div>
        <label>Services:</label><br>
        <textarea name="services" id="services" rows="3"></textarea>
        <div class="d-flex flex-row button lastrow align-items-center" style="height: 3rem;">
            <a class="btn" href="https://api.whatsapp.com/send?phone=+917676313422&text=hi&source=&data=&app_absent=" role="button" style="width: 100% !important;">Book Now</a>
        </div>
    </form>
</div>
<!-- <div class="d-flex flex-column servicesAdded">
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
    <div class="d-flex justify-content-between align-items-center list">
        <p>Lorem, ipsum dolor.</p>
        <i class="fas fa-minus"></i>
    </div>
</div> -->

<script src="/javascripts/calendar.js"></script>
<%- include("../partials/footer") %>
