<%- include("../partials/header") %>

<script src="/calender/js/mobiscroll.javascript.min.js"></script>
<link href="/calender/css/mobiscroll.javascript.min.css" rel="stylesheet" type="text/css">

<div mbsc-form>
    <div class="mbsc-form-group">
        <div id="demo"></div>
    </div>
</div>

<script src="/javascripts/bookingCalender.js"></script>
<%- include("../partials/footer") %>
