<%- include("../partials/header") %>
<div class="d-flex flex-row justify-content-between">
    <div class="col-6">
        <h6>Choose Date & Time</h6>
    </div>
    <div class="col-6">
        <p><span>< </span>August 2020<span> ></span></p>
    </div>
</div>
<div class="d-flex flex-row justify-content-between">
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
    <div class="col">
        <p>1</p>
    </div>
</div>

<script src="/javascripts/booking.js"></script>
<%- include("../partials/footer") %>
