<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Facial's</h5>
</div>

<div class="list">

    <div class="row header">
        <h5>Nature Facial's</h5>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Banana</h5>
                <h5 style="color: #ee4c7c;">Rs.550</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Papaya</h5>
                <h5 style="color: #ee4c7c;">Rs.550</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Mixed Fruit</h5>
                <h5 style="color: #ee4c7c;">Rs.600</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Anti tan</h5>
                <h5 style="color: #ee4c7c;">Rs.600</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Biotique Fruit</h5>
                <h5 style="color: #ee4c7c;">Rs.650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>



    <div class="row header">
        <h5>Ozone Facial's</h5>
    </div>

    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">CTM</h5>
                <h5 style="color: #ee4c7c;">Rs.650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Acne</h5>
                <h5 style="color: #ee4c7c;">Rs.950</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Glow Peel-of-Mask</h5>
                <h5 style="color: #ee4c7c;">Rs.650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Underarm's</h5>
                <h5 style="color: #ee4c7c;">Rs.350</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>

    <div class="row header">
        <h5>Shahnaz Husain Facial's</h5>
    </div>

    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Daimond</h5>
                <h5 style="color: #ee4c7c;">Rs.2000</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Gold</h5>
                <h5 style="color: #ee4c7c;">Rs.1650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Pearl</h5>
                <h5 style="color: #ee4c7c;">Rs.1000</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Ayurvedic</h5>
                <h5 style="color: #ee4c7c;">Rs.1000</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Herbal</h5>
                <h5 style="color: #ee4c7c;">Rs.1000</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row header">
        <h5>Asta Berry Facial's</h5>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Charcoal</h5>
                <h5 style="color: #ee4c7c;">Rs.650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Wine</h5>
                <h5 style="color: #ee4c7c;">Rs.650</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-6 cleanup addmargin">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
            <div class="col-6 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Back </span>
                </label>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
