<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Facial's</h5>
</div>

<div class="list">
    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12 cleanup">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    <span style="font-weight: 800;">With Cleanup</span>
                </label>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
