<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Facial's</h5>
</div>

<div class="list">
    <div class="row">
        <!-- <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <div class="col-12">
                <label>
                    <input type="checkbox" name="extra">
                    <div class="input__checkbox"></div>
                    With Cleanup
                </label>
            </div>
        </div> -->
            <div class="col-6 servicesList rounded">
                <div class="d-flex flex-row">
                    <div class="col-7">
                        <h5 class="">Face<span></span></h5>
                    </div>
                    <div class="col-5">
                        <h5 style="color: #ee4c7c;">Rs.250</h5> 
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="col-12">
                        <label>
                            <input type="checkbox" name="extra">
                            <div class="input__checkbox"></div>
                            <span>with cleanup</span>
                        </label> 
                    </div>
                </div>    
                <div class="d-flex flex-row">
                    <p style="margin: 0 !important;width: 100%;border-top-right-radius: 0;border-top-left-radius: 0;"class="btn">Add</p>
                </div>
            </div>
            <div class="col-6">

            </div>
    </div>
</div>

<%- include("../partials/footer") %>
