<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/gallery.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/more"><i class="fas fa-arrow-left"></i></a>
    <h5>Gallery</h5>
</div>
<div class="gallery">
    <div class="grid">
        <div class="row">
            <div class="col-12">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded">
            </div>
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded float-right">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded">
            </div>
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded float-right">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded">
            </div>
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded float-right">
            </div>
        </div>
        <div class="row lastrow1">
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded">
            </div>
            <div class="col-6">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:98%; height: 100%;" class="rounded float-right">
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
