<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Hair Cut's</h5>
</div>

<div class="list">
    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Straight<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.100</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">U Cut<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.150</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">V Cut<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.150</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Feather<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Lazer<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Layer's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Step<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Granet<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.450(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Boy<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.100</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Mushroom<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.150</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Front<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.50(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
