<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Hair Care</h5>
</div>

<div class="list">
    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hot Rolls<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.850(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hair Style<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Blow Dry<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hair Wash<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hair Spa<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.650(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Heena<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.450(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Conditioner<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.300</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Protein Pack<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.350</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Split-End<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.250(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Hair Oil Massage<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.550(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Temporary Straighting<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.600(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded lastrow" >
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Permanent Straighting<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.600(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row" style="width: 100%;height: 2rem;">
            <select class="custom-select">
                <option selected value="1">Shoulder Length</option>
                <option value="2">Medium Length</option>
                <option value="3">Long Length</option>
                <option value="4">Very Long Length</option>
            </select>
        </div>
    </div>
    
</div>


<%- include("../partials/footer") %>
