<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Hair Colouring</h5>
</div>

<div class="list">
    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Full length<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.2000(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Shoulder length<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.1500(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Root touch-up<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.950(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Single colour highlight<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.500(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Down highlight<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.1000(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Cap highlight<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.1500(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Crown highlight<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.1000(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>


    <div class="row servicesList rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Front and Back<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.1000(onwards)</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
