<%- include("../partials/header") %>
<%- include("../main/pageHeader") %>
<link rel="stylesheet" href="/stylesheets/more.css">

<div class="row row-cols-2 moreList">
    <div class="col-5">
        <div class="d-flex flex-row list mx-auto">
            <img src="/images/logo.png" alt="" style="width: 80%;">
        </div>
        <div class="d-flex flex-row justify-content-center">
            <p>Home</p>
        </div>
    </div>
</div>



<%- include("../partials/footer") %>
