<link rel="stylesheet" href="/stylesheets/navbar.css">

<div class="row navbar justify-content-center fixed-bottom">
    <div class="col-2 mx-1">
        <img src="/images/features.svg" alt="">
        <p>Features</p>
    </div>
    <div class="col-2 mx-1">
        <img src="/images/services.svg" alt="">
        <p>Services</p>
    </div>
    <div class="col-2 mx-1">
        <img src="/images/booking.svg" alt="">
        <p>Booking</p>
    </div>
    <div class="col-2 mx-1">
        <img src="/images/products.svg" alt="">
        <p>Products</p>
    </div>
    <div class="col-2 mx-1">
        <img src="/images/more.svg" alt="">
        <p>More</p>
    </div>
</div>