<link rel="stylesheet" href="/stylesheets/navbar.css">
<script src="/javascripts/navbar.js"></script>

<div class="row navbar justify-content-center fixed-bottom">
    <a href="/" class="col-2 mx-1">
        <img src="/images/features.svg" alt="">
        <p>Features</p>
    </a>
    <a href="/services" class="col-2 mx-1">
        <img src="/images/services.svg" alt="">
        <p>Services</p>
    </a>
    <a href="/booking" class="col-2 mx-1">
        <img src="/images/booking.svg" alt="">
        <p>Booking</p>
    </a>
    <a href="/products"class="col-2 mx-1">
        <img src="/images/products.svg" alt="">
        <p>Products</p>
    </a>
    <a href="/more" class="col-2 mx-1">
        <img src="/images/more.svg" alt="">
        <p>More</p>
    </a>
</div>