<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/offers.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/more"><i class="fas fa-arrow-left"></i></a>
    <h5>Offer's</h5>
</div>

<div class="list">
    <div class="row offer height"style="transition-duration:.4s">
        <div class="row rounded-top">
            <div class="col-3" style="padding-left: 0.5rem;">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" alt="" style="width: 100%;height: 100%;border-radius: .5rem;">
            </div>
            <div class="col-9" style="padding-left: 0rem;">
                <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
            </div>
        </div>
        <div class="row detail rounded-bottom" style="background-color: #f5f6fa;width: 100%;">
            <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                <p style="color: #ee4c7c;margin-left: 1rem;">Lorem ipsum dolor sit.</p>
                <p style="color: #ee4c7c;margin-right: 1rem;">View Details</p>
            </div>
        </div>
        <div class="row transform rounded-bottom" style="transition-duration:.2s;background-color: #f5f6fa;">
            <p style="margin: .5rem 0;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, cum.</p>
        </div>
    </div>
    <div class="row offer height"style="transition-duration:.4s">
        <div class="row rounded-top">
            <div class="col-3" style="padding-left: 0.5rem;">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" alt="" style="width: 100%;height: 100%;border-radius: .5rem;">
            </div>
            <div class="col-9" style="padding-left: 0rem;">
                <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
            </div>
        </div>
        <div class="row detail rounded-bottom" style="background-color: #f5f6fa;width: 100%;">
            <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                <p style="color: #ee4c7c;margin-left: 1rem;">Lorem ipsum dolor sit.</p>
                <p style="color: #ee4c7c;margin-right: 1rem;">View Details</p>
            </div>
        </div>
        <div class="row transform rounded-bottom" style="transition-duration:.2s;background-color: #f5f6fa;">
            <p style="margin: .5rem 0;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, cum.</p>
        </div>
    </div>
    <div class="row offer height"style="transition-duration:.4s">
        <div class="row rounded-top">
            <div class="col-3" style="padding-left: 0.5rem;">
                <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" alt="" style="width: 100%;height: 100%;border-radius: .5rem;">
            </div>
            <div class="col-9" style="padding-left: 0rem;">
                <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
            </div>
        </div>
        <div class="row detail rounded-bottom" style="background-color: #f5f6fa;width: 100%;">
            <div class="d-flex flex-row justify-content-between" style="width: 100%;">
                <p style="color: #ee4c7c;margin-left: 1rem;">Lorem ipsum dolor sit.</p>
                <p style="color: #ee4c7c;margin-right: 1rem;">View Details</p>
            </div>
        </div>
        <div class="row transform rounded-bottom" style="transition-duration:.2s;background-color: #f5f6fa;">
            <p style="margin: .5rem 0;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio, cum.</p>
        </div>
    </div>
</div>

<script src="/javascripts/offers.js"></script>
<%- include("../partials/footer") %>
