<%- include("../partials/header") %>
    <link rel="stylesheet" href="/stylesheets/products.css">
    <link rel="stylesheet" href="/stylesheets/pageHeader.css">


    <div class="d-flex flex-row justify-content-center align-items-center pageHeader">
        <h5>Products</h5>
    </div>

    <div class="container my-3">
        <div class="card">
            <div class="card-body">
                <p class="lead">"Gorgeous hair is the best revenge"</p>
            </div>
        </div>
    </div>

    <div class="row header">
        <h5>Weekly Offer</h5>
        <a href="" class="float-right">View all</a>
    </div>
    <div class="d-flex flex-row" style="margin: 0;overflow-x: scroll;margin-right: 1rem;">
        <div class="col-8 shadow rounded">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Shampoo</p>
                <div class="crown">
                    <i class="fas fa-crown"></i>
                    <span style="text-decoration:line-through;">Rs.250</span>
                    <p class="btn my-auto">Rs.200</p>
                </div>
            </div>
        </div>
        <div class="col-8 shadow rounded">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Shampoo</p>
                <div class="crown">
                    <span style="text-decoration:line-through;">Rs.250</span>
                    <p class="btn my-auto">Rs.220</p>
                </div>
            </div>
        </div>
        <div class="col-8 shadow rounded">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Conditioner</p>
                <div class="crown">
                    <i class="fas fa-crown"></i>
                    <span style="text-decoration:line-through;">Rs.250</span>
                    <p class="btn my-auto">Rs.200</p>
                </div>
            </div>
        </div>
        <div class="col-8 shadow rounded">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <div class="crown">
                    <i class="fas fa-crown"></i>
                    <span style="text-decoration:line-through;">Rs.250</span>
                    <p class="btn my-auto">Rs.200</p>
                </div>
            </div>
        </div>
    </div>



    <div class="row header">
        <h5>Products</h5>
    </div>

    <div class="row row-cols-2 productsList">
        <div class="col-5 shadow rounded products mx-auto nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>

        <div class="col-5 shadow rounded products mx-auto nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>
        <div class="col-5 shadow rounded products mx-auto nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>

        <div class="col-5 shadow rounded products mx-auto nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>
        <div class="col-5 shadow rounded products mx-auto lastrow nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>
        <div class="col-5 shadow rounded products mx-auto lastrow nametag">
            <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
            <div class="d-flex justify-content-between">
                <p>Body wash</p>
                <button class="btn my-auto ton">Rs.200</button>
            </div>
        </div>
    </div>


    <%- include("../partials/footer") %>