<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/review.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">

<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/more"><i class="fas fa-arrow-left"></i></a>
    <h5>Review's</h5>
</div>

<div class="review d-flex flex-column">
    <label for="reviews" style="margin: 0;"></label>
        <textarea name="reviews" id="reviews" rows="3"  placeholder="Limit the review by 110 letters.." maxlength="110"></textarea>
        <div class="ratings d-flex flex-row align-items-center">
            <div class="col-6">
                <div class="d-flex flex-row justify-content-around stars">
                    <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                    <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                    <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                    <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                    <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-row justify-content-end">
                    <a href=""><i class="fas fa-paper-plane" style="color: #ee4c7c !important;font-size: 1.2rem;"></i></a> 
                </div>
            </div>
        </div>
        <div class="list">
            <div class="row shadow-sm rounded">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
            <div class="row shadow-sm rounded">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
            <div class="row shadow-sm rounded">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
            <div class="row shadow-sm rounded">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
            <div class="row shadow-sm rounded">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
            <div class="row shadow-sm rounded lastrow">
                <div class="col-12">
                    <div class="row custName">
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-start" style="height: 100%;">
                                <h5>Ankush</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-row justify-content-end align-items-center" style="height: 100%;">
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="fas fa-star" style="color: #ee4c7c !important;"></i>
                                <i class="far fa-star" style="color: #ee4c7c !important;"></i>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eos veritatis nostrum alias ipsa saepe illum enim magnam voluptates qui!</p>
                    </div>
                </div>
            </div>
        </div> 
</div>

<script src="/javascripts/review.js"></script>
<%- include("../partials/footer") %>
