<%- include("../partials/header") %>
<%- include("../main/pageHeader") %>
<link rel="stylesheet" href="/stylesheets/services.css">


<div class="row row-cols-2 servicesList">
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">facials</p>
        </div>
    </div>  
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div>   
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto lastrow nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div>    
    <div class="col-5 shadow rounded services mx-auto lastrow snametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">lorem3</p>
        </div>
    </div>                          
</div>


<%- include("../partials/footer") %>
