<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/services.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <h5>Services</h5>
</div>

<div class="row row-cols-2 servicesList">
    <a href="/services/threading" class="col-5 rounded services mx-2 nametag">
        <img src="https://www.chiclashboutique.com/wp-content/uploads/2019/01/threading-72-e1555603571595.jpg" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Threading</p>
        </div>
    </a>  
    <a href="/services/waxing" class="col-5 rounded services mx-2 nametag">
        <img src="https://kidspot.co.nz/wp-content/uploads/2016/10/AdobeStock_144248813.jpeg" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Waxing</p>
        </div>
    </a>   
    <a href="/services/bleach" class="col-5 rounded services mx-2 nametag">
        <img src="https://www.mostinside.com/wp-content/uploads/2016/03/pros-and-cons-of-face-bleaching.jpg" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Bleach</p>
        </div>
    </a> 
    <a href="/services/antitan" class="col-5 rounded services mx-2 nametag">
        <img src="https://www.dailyexcelsior.com/wp-content/uploads/2017/06/52.jpg" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Anti Tan</p>
        </div>
    </a> 
    <a href="/services/facial" class="col-5 rounded services mx-2 nametag">
        <img src="https://i1.wp.com/www.ejollify.com/wp-content/uploads/2019/06/different-types-of-facials.jpg?fit=1024%2C683&ssl=1&is-pending-load=1" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Facial's</p>
        </div>
    </a> 
    <a href="/services/haircut" class="col-5 rounded services mx-2 nametag">
        <img src="https://www.girlspring.com/wp-content/uploads/2018/07/stylist-cutting-hair.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Hair Cut's</p>
        </div>
    </a> 
    <a href="/services/haircolor" class="col-5 rounded services mx-2 nametag">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSycMpDOZqGlRGBaRqdnfmQoFv4qBz92EOgZg&usqp=CAU" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Hair Colouring</p>
        </div>
    </a>    
    <a href="/services/pedicure" class="col-5 rounded services mx-2 nametag">
        <img src="https://i0.wp.com/thepointsguy.com/wp-content/uploads/2018/12/pedicure_shutterstock-1.jpg?fit=1600%2C1067px&ssl=1" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Pedicure</p>
        </div>
    </a>   
    <a href="/services/manicure" class="col-5 rounded services mx-2 lastrow nametag">
        <img src="https://miro.medium.com/max/2560/1*pKVQe7_ufTppZM0p-BYNrg.jpeg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Manicure</p>
        </div>
    </a>  
    <a href="/services/haircare" class="col-5 rounded services mx-2 lastrow nametag">
        <img src="https://secureservercdn.net/160.153.136.1/4e1.6d6.myftpupload.com/wp-content/uploads/2016/05/hair2.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Hair Care</p>
        </div>
    </a>                      
</div>


<%- include("../partials/footer") %>
