<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/services.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <h5>Services</h5>
</div>

<div class="row row-cols-2 servicesList">
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Threading</p>
        </div>
    </div>  
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Waxing</p>
        </div>
    </div>   
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Bleach</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Anti Tan</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Facial's</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Hair Cut's</p>
        </div>
    </div> 
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Colouring</p>
        </div>
    </div>    
    <div class="col-5 shadow rounded services mx-auto nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Pedicure</p>
        </div>
    </div>   
    <div class="col-5 shadow rounded services mx-auto lastrow nametag">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row">
            <p class="mx-auto p-1">Manicure</p>
        </div>
    </div>                        
</div>


<%- include("../partials/footer") %>
