<%- include("../partials/header") %>
<%- include("../main/pageHeader") %>
<link rel="stylesheet" href="/stylesheets/services.css">


<div class="row servicesList mx-auto">
    <div class="col-5 shadow rounded services mx-auto">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex flex-row align-items-center">
            <p>facials</p>
        </div>
    </div>  
    <div class="col-5 shadow rounded services ">
        <img src="https://media.angieslist.com/s3fs-public/colorhair5_cuthair1.jpg" style="width:100%;" class="rounded-top" alt="...">
        <div class="d-flex justify-content-between">
            <p>facials</p>
        </div>
    </div>                                
</div>


<%- include("../partials/footer") %>
