<%- include("../partials/header") %>
<link rel="stylesheet" href="/stylesheets/commonService.css">
<link rel="stylesheet" href="/stylesheets/pageHeader.css">


<div class="d-flex flex-row justify-content-center align-items-center pageHeader">
    <a href="/services"><i class="fas fa-arrow-left"></i></a>
    <h5>Threading</h5>
</div>

<div class="list">
    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Eye Brow's<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.50</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra" checked onclick="pricecheck(0,50)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-2 pr-2 text-center">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-4 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra" onclick="pricecheck(0,100)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-2 pr-2 text-center">Normal Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-4 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra" onclick="pricecheck(0,150)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1 pl-2 pr-2 text-center">Chocolate Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Upper Lips<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.30</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1" checked onclick="pricecheck(1,30)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1" onclick="pricecheck(1,40)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1" onclick="pricecheck(1,50)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra1" onclick="pricecheck(1,60)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Chin<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.40</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2" checked onclick="pricecheck(2,40)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2" onclick="pricecheck(2,50)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2" onclick="pricecheck(2,60)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra2" onclick="pricecheck(2,70)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Sides<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.100</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3" checked onclick="pricecheck(3,100)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3" onclick="pricecheck(3,150)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3" onclick="pricecheck(3,200)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra3" onclick="pricecheck(3,250)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Four Head<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.20</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4" checked onclick="pricecheck(4,20)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4" onclick="pricecheck(4,30)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4" onclick="pricecheck(4,40)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra4" onclick="pricecheck(4,50)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Full Face<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.200</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5" checked onclick="pricecheck(5,200)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5" onclick="pricecheck(5,250)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5" onclick="pricecheck(5,400)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra5" onclick="pricecheck(5,500)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row servicesList mx-2 rounded lastrow">
        <div class="row p-2 pt-3 pb-3" style="width: 100%;">
            <div class="col-8">
                <h5 class="my-1">Neck<span></span></h5>
                <h5 style="color: #ee4c7c;">Rs.50</h5>
            </div>
            <div class="col-4 mt-2">
                <p class="btn my-auto px-4">Add</p>
            </div>
        </div>
        <div class="row options" style="width: 100%;">
            <div class="d-flex flex-row" style="width: 100%;border-top: 1px solid black;">
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6" checked onclick="pricecheck(6,50)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">No Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6" onclick="pricecheck(6,100)"> 
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Normal Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="col-3 services" style="border-right: 1px solid black;">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6" onclick="pricecheck(6,150)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Chocolate Wax</p>
                            </div>
                        </label>
                    </div> 
                </div>
                <div class="col-3 services">
                    <div class="d-flex flex-column justify-content-center" style="height:100%">
                        <label style="height: 100%;width: 100%;">
                            <input type="radio" name="extra6" onclick="pricecheck(6,200)">
                            <div class="d-flex flex-column justify-content-center align-items-center extra" style="height:100%;">
                                <p class="p-1">Rica Wax</p>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/threading.js"></script>
<%- include("../partials/footer") %>
